@media (max-width: 960px) {
    body {
        overflow: auto;
    }
}

@media (max-width: 960px) {
    #page {
        height: auto;
        position: relative;
    }
}

@media (max-width: 960px) {
    .catalog__items {
        width: 100%;
        height: auto;
        padding-bottom: 58px;
        box-sizing: border-box;
        position: relative;
        top: 0;
        overflow: hidden;
    }
}

@media (max-width: 960px) {
    a:first-child {
        margin-left: 0;
    }
}



@media only screen and (min-width: 830px) {
    img {
        margin-bottom: 4em;
    }
}


@media only screen and (max-width: 767px),
only screen and (max-device-width: 767px) {
    .background-image {
        background: url(./img/background.png);
        position: relative;
        background-size: cover;
    }
}