.root {
    position: absolute;
    top: 0;
    right: 290px;
    bottom: 0;
    width: 150px;
    height: 150px;
    margin: auto;
    animation: spin 3s infinite;
}



.root .rounder {
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
}

.tl {
    top: 0;
    left: 0;
    background-image: url(../PortfolioNumber2/img/logo1.png);
    animation: tl 3s infinite;
    background-size: contain;
}

.tr {
    top: 0;
    right: 0;
    background-image: url(../PortfolioNumber2/img/logo2.png);
    animation: tr 3s infinite;
    background-size: contain;
}

.br {
    bottom: 0;
    right: 0;
    background-image: url(../PortfolioNumber2/img/logo3.png);
    animation: br 3s infinite;
    background-size: contain;
}

.bl {
    bottom: 0;
    left: 0;
    background-image: url(../PortfolioNumber2/img/logo4.png);
    animation: bl 3s infinite;
    background-size: contain;
}

@keyframes tl {
    0% {
        top: 0%;
        transform: rotate(360deg);
    }

    50% {
        top: 175%
    }

    100% {
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes tr {
    0% {
        right: 0%;
        transform: rotate(360deg);
    }

    50% {
        right: 175%
    }

    100% {
        right: 0%;
        transform: rotate(0deg);
    }
}

@keyframes br {
    0% {
        bottom: 0%;
        transform: rotate(360deg);
    }

    50% {
        bottom: 175%
    }

    100% {
        bottom: 0%;
        transform: rotate(0deg);
    }
}

@keyframes bl {
    0% {
        left: 0%;
        transform: rotate(360deg);
    }

    50% {
        left: 175%
    }

    100% {
        left: 0%;
        transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}