body {
    background: #1d1d1d;
    overflow: hidden;
    display: block;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}



#nav_bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

.logo {
    background: #070707;
    display: block;
    padding: 8px 0;
}

.logo img {
    display: block;
    margin: 8px auto;
    width: 40px;
    height: auto;
}


#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 20%;
    width: 100%;
}

a {
    font-size: 22px;
    color: #4d4d4e;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
}


a:hover {
    color: #08fdd8;
}

i {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.icon-hom:before {
    content: "\f015";
}

#nav_bar nav a:first-child:after {
    content: 'HOME';
}

.icon-prof:before {
    content: "\f007";
}

#nav_bar nav a:first-child+a:after {
    content: 'ABOUT';
}

#nav_bar nav a:after {
    content: '';
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


#nav_bar ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    top: 60%
}


#nav_bar ul li a {
    display: block;
    font-size: 20px;
    line-height: 100px;
    color: #4d4d4e;
}

.fab {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#mobile-link :hover {
    color: #08fdd8;
}

#mobile-link {
    display: none;
}

.fa-bars:before {
    content: "\f0c9";
}



#page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.tags {
    color: #515152;
    position: absolute;
    bottom: 0;
    left: 80px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
}

.top-tags {
    bottom: auto;
    top: 0;
}

.home-page .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}

.home-page h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: font-file-82132;
    font-weight: 400;
}


.home-page h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -40px;
    left: -15px;
}


.home-page .blast:hover {
    color: #08fdd8;
}

.home-page .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.home-page h1 img {
    position: relative;
    top: -5px;
    opacity: 0;
    width: 60px;
    height: auto;
}

.animation-logo {
    -webkit-animation: animation2 1s linear both;
    animation: animation2 1s linear both;
    opacity: 1 !important;
}

.home-page h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}


.home-page .text-zone a {
    font-weight: 400;
}

.flat-button {
    white-space: nowrap;
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.home-page .flat-button {
    color: #08fdd8;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08fdd8;
    margin-top: 25px;
    float: left;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}


.bg {
    position: relative;
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
}

.bg .jb {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
}





.container.about .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}


.container.about .text-zone h1 {
    font-size: 53px;
    font-family: font-file-82132;
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
}


.container.about .text-zone h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -10px;
    left: -10px;
}

.blast {
    display: inline-block;
}

.container.about h1 .blast {
    will-change: transform;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.container.about .text-zone p {
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.text-zone p {
    font-size: 14px !important;
    color: #fff;
    line-height: 20px;
}


.clear {
    clear: both;
}


.clear:before,
.clear:after {
    content: ' ';
    display: table;
}


#pyramid {
    position: absolute;
    left: 50%;
    margin-left: 120px;
    top: 50%;
    margin-top: -210px;
    height: 500px;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 10s linear infinite;
    -webkit-transform-origin: 116px 200px 116px;
    -moz-transform-style: preserve-3d;
    -moz-animation: spin 10s linear infinite;
    -moz-transform-origin: 116px 200px 116px;
    -ms-transform-style: preserve-3d;
    -ms-animation: spin 10s linear infinite;
    -ms-transform-origin: 116px 200px 116px;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
    transform-origin: 116px 200px 116px;
}


.container.skills .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}


.container.skills .text-zone h1 {
    font-size: 53px;
    font-family: font-file-82132;
    color: #08fdd8;
    font-weight: 400;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    display: block;
}

.container.skills .text-zone h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -35px;
    left: -10px;
}

.container.skills h1 .blast {
    will-change: transform;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.container.skills .text-zone h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -35px;
    bottom: -40px;
    margin-left: 20px;
}

.ckills-charts {
    position: absolute;
    width: 80%;
    right: -15%;
    left: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

#mySkillsBar {
    position: relative;
    height: 85%;
    width: 60%;
    display: block;
    margin-left: 12%;
    top: 70px;

}



.c,
.h,
.js,
.wp,
.v {
    position: relative;
    list-style: none;
    margin: 50px;
    font-weight: bold;
    color: white;
}

.c::before,
.h::before,
.js::before,
.wp::before,
.v::before {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    height: 12px;
    width: 100%;
    background: #4e75f6;
    border-radius: 8px;
    content: "";
    box-shadow: 0 0 10px #fff;
}


.c::after,
.h::after,
.js::after,
.wp::after,
.v::after {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    height: 12px;
    width: 0;
    background: #4e75f6;
    border-radius: 8px;
    content: "";
    box-shadow: 0 0 10px #fff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.h::after {
    animation-name: h;
}


@keyframes h {
    to {
        width: 90%;
    }
}

.c::after {
    animation-name: c;
}


@keyframes c {
    to {
        width: 90%;
    }
}


.js::after {
    animation-name: js;
}


@keyframes js {
    to {
        width: 50%;
    }
}

.wp::after {
    animation-name: wp;
}

@keyframes wp {
    to {
        width: 40%;
    }
}

.v::after {
    animation-name: v;
}

@keyframes v {
    to {
        width: 1%;
    }
}

li {
    list-style: none;
}






/* __________________________________________________________ */


.container.contact .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}


.container.contact .text-zone h1 {
    font-size: 53px;
    font-family: font-file-82132;
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
}


.container.contact .text-zone h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -10px;
}


.container.contact .blast {
    will-change: transform;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


.container.contact .text-zone h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -20px;
    bottom: -20px;
    margin-left: 20px;
}

.text-zone p {
    font-size: 14px !important;
    color: #fff;
    line-height: 20px;
}

.container.contact .text-zone p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}


.contact-form {
    width: 100%;
}

.contact-form ul {
    padding: 0;
    margin: 0;
}

.contact-form ul li.half:first-child {
    margin-left: 0;
}

.contact-form ul li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}

.contact-form ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    opacity: 1;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}


.contact-form input[type=text],
.contact-form input[type=email] {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    box-sizing: border-box;
}



.input__label--hoshi:before,
.input__label--hoshi:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}


.input__label--hoshi:after {
    margin-top: 2px;
    border-bottom: 2px solid #08fdd8;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.input__label--hoshi-color-2:after {
    border-color: #0fa;
}

.input__label--hoshi:before,
.input__label--hoshi:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.required .input__field--hoshi+.input__label--hoshi:after,
.required .input--filled .input__label--hoshi:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-color: red;
}



textarea {
    resize: vertical;
}

textarea {
    overflow: auto;
}


.contact-form textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
}


.contact-form ul li.submit {
    overflow: hidden;
}


.contact-form .flat-button {
    color: #08fdd8;
    font-size: 11px;
    letter-spacing: 3px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #08fdd8;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.flat-button {
    white-space: nowrap;
}



.inf-mp {
    position: absolute;
    background: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 230px;
    padding: 20px;
    color: #fff;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    opacity: 1;
}


.inf-mp span {
    font-size: 16px;
}

.inf-mp span span {
    color: #08fdd8;
}



/* ___________________________________________________________ */

.thumbs {
    list-style: none;
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-left: 65px;
    overflow: auto;
}

.clearfix::before {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}




.thumbs li {
    float: none;
    margin: 0 0 1.5em 0;
    background: repeating-radial-gradient(black, transparent 100px);
    padding: 5% 5% 0 5%;
    position: relative;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 250px;
    height: 150px;
}

.thumbs li a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #333333;
    height: 100%;
}


.thumbs li a img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}