@media screen and (max-width: 800px) {
    .wrapper {
        display: none;
    }
}


@media screen and (min-width: 400px) and (max-width: 800px) {
    .avatar-player {
        left: 160%;
    }
}

@media screen and (max-width: 800px) {
    .btn_info {
        left: 160%;
        top: 2px;
    }
}

@media screen and (max-width: 800px) {

    .cup,
    .bell {
        left: 160%;

    }
}


@media screen and (max-width: 800px) {
    .btn-play {
        left: 25%;
        top: 1px;

    }
}


@media screen and (max-width: 800px) {
    .preview {
        width: 53%;
    }
}

@media screen and (max-width: 800px) {
    .aroow {
        top: 97px;
    }
}

@media screen and (max-width: 800px) {
    .icon-left {
        top: 83px;
        width: 25px;
    }
}

@media screen and (max-width: 800px) {
    .value-like {
        left: 32px;
        top: 8px;
        font-size: 15px;
    }
}


@media screen and (max-width: 800px) {
    .social_icon {
        top: 77px;
        max-width: 31px;
        max-height: 30px;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .right-block1 {
        top: 35%;

    }

    .right-block2 {
        top: 77%;
    }

    .right-block3 {
        top: 120%;
    }
}



@media screen and (max-width: 800px) {
    .r-btn {
        top: 16px;
        right: 35px;
    }
}

@media screen and (max-width: 800px) {
    .comments-bt {
        top: 5px;
    }
}

@media screen and (max-width: 800px) {
    #comment {
        top: 25px;
    }
}

@media screen and (max-width: 800px) {
    .reviews-list {
        top: 29px;
        right: 18px;
    }

}

@media screen and (max-width: 800px) {
    .men {
        right: 30px;
        width: 23%;
        height: 50%;
        top: 32px;
    }

}

@media screen and (max-width: 800px) {
    .reviews-author {
        top: 25px;
        text-decoration: solid;
    }

}