* {
    position: relative;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
}

a {
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    color: white;
    text-decoration: none;
    -ms-flex-pack: center;
    top: 25px;
}

img {
    max-width: 100%
}

input,
textarea {
    max-width: 100%
}

.background-image {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
    shape-image-threshold: 0.5;
    background-size: contain;
    background-image: url(../images/background_img.jpg);
    background-position: center;
    opacity: 0.8;
}

.app {
    height: 100%;
    text-align: center;
}



.show__wrapper {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 40px;
    height: 40px;
}

.show__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(90deg, grey, #3c3b53);
    border-radius: 50px;
    overflow: hidden;
}


.header {
    position: relative;
    align-items: center;
    background: #242333;
    display: flex;
    width: 100%;
    height: 15%;

}

#show__wrapper {
    display: none;
    border-radius: 50px;
}

#show__wrapper:checked+.header {
    left: 0;
    top: 0;
    opacity: 1;
}


.wrapper {
    flex: 1;
    display: block;
}

.menu {
    padding-right: 10px;
    position: absolute;
    display: flex;
    right: 30%;
    left: 30%;
    margin: 0;
    padding: 0;
    width: 50%;
}

.nav {
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    width: 100%;

}

.nav-item {
    margin: 35px;
    text-decoration: none;
    display: inline-block;
    color: white;
}

.btn {
    cursor: pointer;
    position: relative;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-play {
    padding: 2px;
    margin-right: 2px;
    height: 45px;
    right: 80px;
    max-height: 45px;
    display: flex;
    background-image: linear-gradient(90deg, #f52bc0, #ff7c45);
    border-radius: 30px;
}

.btn_play {
    padding-left: 50px;
    padding-right: 50px;
    background-image: linear-gradient(90deg, #242333, #3c3b53);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    border: 2px solid #242333;
    position: relative;
    padding: 0 50px;
    border-radius: 30px;
    color: white;
}

.btn-effect {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, rgba(217, 79, 199, .3), rgba(255, 144, 90, .3));
}

.second-effect {
    width: 60%;
    margin: 0 auto;
    height: 3px;
    border-radius: 2px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #d94fc7), to(#ff905a));
    background-image: linear-gradient(90deg, #d94fc7, #ff905a);
}

.user-item {
    justify-content: center;
    display: flex;
    width: 25%;
}

.item-info {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    -webkit-box-align: center;
}

.cup {
    margin: 0 12px;
    list-style: none;
}

.btn-cup {
    background: none;
    border: none;
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    background-image: url(../images/cup_Icon.png);
    background-size: contain;
    top: 30px;
}

.bell {
    margin: 0 12px;
    list-style: none;
}

.btn-bell {
    background-image: url(../images/bellIcon.png);
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
    display: block;
    top: 30px;
    margin: 0;
    padding: 0;
}


.btn_info {
    background-image: linear-gradient(90deg, #eabe45 0, #cb4cbc);
    margin: 0 12px;
    padding: 2px;
    display: flex;
    border-radius: 23px;
    width: 81px;
    height: 40px;
}

.btn-info {
    color: white;
    background: #6f6d99;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 29px;
    width: 81px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 0 10px;
    list-style: none;

}

.btn-icon {
    width: 16px;
    height: 16px;
    margin-right: 25px;
    background-image: url(../images/diamondIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    list-style: none;

}

.price-diamonds {
    color: #9d9acc;
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-weight: 600;
}

.avatar-player {
    margin: 0 12px;
    display: flex;
    border-radius: 50%;
    margin: 0 0 0 12px;
    position: relative;
}

.avatar {
    top: -8px;
    display: flex;
    height: 70%;
    max-width: 100px;
    border-radius: 50%;
    border-style: none;
}

.link-social {
    float: right;
    width: 160px;
    height: 52px;
    position: relative;
    display: block;
}


.container {
    width: 100%;
}

.back {
    cursor: pointer;
    float: left;
    margin: 20px;
    width: 64px;
    height: 19px;
    padding: 2px;
    display: block;
    color: white;

}

.btn-block {
    display: block;
    padding: 2px;
    border-radius: 30px;
    align-items: center;
    margin-right: 15px;
    width: 40%;
    height: 50%;
    max-height: 50px;
    float: left;
    margin: 20px;
    right: 60px;
    top: 40px;
}

.btn_block {
    cursor: pointer;
    width: 100%;
    color: white;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0 3px 5px #090a0f;
    background-image: linear-gradient(90deg, #242333, #3c3b53);
}

.span1 {
    float: left;
    text-align: start;
    top: 13px;
}

.span2 {
    float: right;
    top: 13px;
}


.preview {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 125%;
    left: 20px;
    top: 35%;
    color: white;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 25px;
    text-shadow: 0 3px 5px #090a0f;
    background-image: linear-gradient(90deg, #242333, #3c3b53);

}

.prev {
    width: 95%;
    height: 50%;
    top: 20px;
    border-radius: inherit;
}






h2 {
    height: 20px;
    color: white;
    font-size: 20px;
    padding: 0 10px 15px;
    text-align: left;
    top: 22px;
}

p {
    height: 160px;
    color: grey;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    top: 18px;
    padding: 0 10px 12px;
    text-align: center;
}

h6 {
    height: 160px;
    color: grey;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    top: 18px;
    padding: 0 10px 12px;
    text-align: center;
}

.aroow {
    top: 67px;
    height: 2px;
    border-bottom: 7px solid grey;
    position: relative;
}

.aroow::after {
    border: medium solid transparent;
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    height: 0;
    width: 0;
    border-width: 25px;
    margin-left: -25px;
}

.social {
    height: 20%;
    top: 19px;
}

.social_icon {
    height: 38px;
    border-radius: 10px;
    display: block;
    float: right;
    top: 87px;
    right: 10px;
    padding: 6px;

}

.icon-left {
    position: absolute;
    width: 33px;
    height: 50px;
    left: 15px;
    top: 92px;
    border-radius: 30px;
    background-image: url(../images/likeIcon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.value-like {
    left: 50px;
    top: 10px;
}


.right-block1 {
    left: 57%;
    top: 30%;
    position: absolute;
    cursor: pointer;
    width: 40%;
    height: 40%;
    color: white;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 25px;
    text-shadow: 0 3px 5px #090a0f;
    background-image: linear-gradient(90deg, #242333, #3c3b53);
}

.right-block2 {
    left: 57%;
    top: 76%;
    position: absolute;
    cursor: pointer;
    width: 40%;
    height: 40%;
    color: white;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 25px;
    text-shadow: 0 3px 5px #090a0f;
    background-image: linear-gradient(90deg, #242333, #3c3b53);
}

.right-block3 {
    left: 57%;
    top: 122%;
    position: absolute;
    cursor: pointer;
    width: 40%;
    height: 40%;
    color: white;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 25px;
    text-shadow: 0 3px 5px #090a0f;
    background-image: linear-gradient(90deg, #242333, #3c3b53);
}

.threeIcon {
    width: 95%;
    height: 50%;
    top: 20px;
    border-radius: inherit;

}


h1 {
    height: 20px;
    font-size: 20px;
    text-align: left;
    top: 20px;
    left: 12px;
}

.left-block {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 80%;
    left: 20px;
    top: 164%;
    color: white;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 25px;
    text-shadow: 0 3px 5px #090a0f;
    background-image: linear-gradient(90deg, #242333, #3c3b53);
}


#comment {
    box-sizing: border-box;
    width: 80%;
    height: 54px;
    top: 85px;
    padding: 9px 15px;
    font: inherit;
    color: inherit;
    border: 2px solid #242333;
    background-image: linear-gradient(90deg, grey, #3c3b53);
}

.r-btn {
    justify-content: center;
    display: flex;
    width: 25%;
    height: 10%;
    float: right;
    top: 42px;
    right: 20px;
}


.right-btn1 {
    cursor: pointer;
    color: white;
    background: grey;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 29px;
    width: 81px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 0 10px;
    list-style: none;
    right: 15px
}

.right-btn2 {
    cursor: pointer;
    color: white;
    background: grey;
    margin: 0;
    border: 2px solid #242333;
    border-radius: 29px;
    width: 81px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 0 10px;
    list-style: none;
}

.comments-bt {
    top: 40px;
    width: 35px;
    height: 35px;
    left: 15px;
    background-image: url(../images/commentsIcon-1320168114182286375.png);
    background-repeat: no-repeat;
    background-size: contain;
}

h4 {
    left: 37px;
    top: 22px;
    color: grey;
}

.price {
    width: 10px;
    height: 20px;
    top: -12px;
    right: -123px;
    font-weight: 600;
    font-size: 16px;
}

.reviews-list {
    display: block;
    height: 70%;
    top: 85px;
}

.review-item {
    border-radius: 20px;
    width: 86%;
    height: 140px;
    margin: 0;
    top: 25px;
    left: 18px;
    margin-right: 80px;
    padding: 0;
    padding-left: 50px;
    font-size: 16px;
    border: 2px solid #242333;
}

.reviews-author {
    height: 50%;
    width: 70%;
    right: 0px;
    top: 38px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    padding: 15px;
}

.men {
    float: left;
    border-radius: 60%;
    width: 20%;
    height: 60%;
    top: 25px;
}

.nonePC {
    width: 50%;
    float: right;
    height: 103%;
    position: initial;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.menu_mobile {
    display: none;
}





@media screen and (max-width: 480px) {
    .back {
        left: 0px;
    }
}

@media screen and (max-width: 480px) {
    .btn-block {
        width: 87%;
        top: -38px;
        left: 0px;
    }
}



@media screen and (max-width: 480px) {
    .preview {
        width: 99%;
        left: 0px;
        height: 70%;
        top: 186px;
    }
}

@media screen and (max-width: 480px) {
    .prev {
        top: 5px;
        height: 30%;
    }
}



@media screen and (max-width: 480px) {

    h2 {
        font-size: 12px;
        top: 3px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: x-small;
        text-align: initial;
        top: 3px;
    }
}

@media screen and (max-width: 480px) {

    h5 {
        font-size: 12px
    }
}


@media screen and (max-width: 480px) {

    h6 {
        top: 0px;
        font-size: x-small;
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    p {
        font-size: x-small;
        top: -4px;
    }
}


@media screen and (max-width: 480px) {
    .aroow {
        top: 12px;
        height: 1px;
        border-bottom: 2px solid grey;
    }
}

@media screen and (max-width: 480px) {
    .icon-left {
        top: 0;
        width: 25px;
        left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .value-like {
        left: 30px;
        top: 8px;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .right-block1 {
        top: 104%;
        width: 47%;
        height: 41%;
        left: 51%;
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .right-block2 {
        top: 104%;
        width: 47%;
        display: inline-block;
        left: 5px;
        height: 41%;
    }
}

@media screen and (max-width: 480px) {
    .right-block3 {
        left: 0px;
        height: 25%;
        width: 99%;
        top: 147%;
    }
}

@media screen and (max-width: 480px) {
    .threeIcon {

        top: 5px;

    }
}

@media screen and (max-width: 480px) {
    .social_icon {
        top: -4px;
        height: 25px;

    }
}

@media screen and (max-width: 480px) {
    .left-block {
        left: 0;
        width: 100%;
        top: 174%;
    }
}


@media screen and (max-width: 480px) {
    .r-btn {
        right: 17px;
        top: 5px;
    }
}


@media screen and (max-width: 480px) {
    .right-btn1 {
        width: 50px;
        font-size: 12px;
    }
}


@media screen and (max-width: 480px) {
    .right-btn2 {
        width: 50px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .comments-bt {
        top: 2px;
        left: 3px;
    }
}


@media screen and (max-width: 6480) {
    #comment {
        top: 22px;
        left: 30px;
    }
}


@media screen and (max-width: 480px) {
    .price {
        top: -12px;
        left: 116px;
    }
}


@media screen and (max-width: 480px) {
    #comment {
        top: 19px;
        border-radius: 30px;
    }
}

@media screen and (max-width: 480px) {
    .reviews-list {
        display: block;
        height: 70%;
        top: 45px;
    }
}


@media screen and (max-width: 480px) {
    .review-item {
        left: 0;
        width: 82%;
        height: 40%;
        margin: 1px;
    }
}

@media screen and (max-width: 480px) {
    .men {
        height: 39%;
        width: 18%;
        left: -30px;
    }
}

@media screen and (max-width: 480px) {
    .reviews-author {
        top: 0;
        height: 50%;
        right: 3px;
        padding: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .show__wrapper {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .show__wrapper {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .btn-play {
        left: 82px;
        top: 5px;
    }
}


@media screen and (max-width: 480px) {
    .btn_play {
        width: 50px;
        top: 0px;
    }
}








@media screen and (max-width: 800px) {
    .avatar-player {
        left: 160%;
    }
}

@media screen and (max-width: 800px) {
    .btn_info {
        left: 160%;
        top: 2px;
    }
}

@media screen and (max-width: 800px) {

    .cup,
    .bell {
        left: 160%;

    }
}


@media screen and (max-width: 800px) {
    .btn-play {
        left: 25%;
        top: 1px;

    }
}


@media screen and (max-width: 800px) {
    .preview {
        width: 53%;
    }
}

@media screen and (max-width: 800px) {
    .aroow {
        top: 97px;
    }
}

@media screen and (max-width: 800px) {
    .icon-left {
        top: 83px;
        width: 25px;
    }
}

@media screen and (max-width: 800px) {
    .value-like {
        left: 32px;
        top: 8px;
        font-size: 15px;
    }
}


@media screen and (max-width: 800px) {
    .social_icon {
        top: 77px;
        max-width: 31px;
        max-height: 30px;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .right-block1 {
        top: 35%;

    }

    .right-block2 {
        top: 77%;
    }

    .right-block3 {
        top: 120%;
    }
}



@media screen and (max-width: 800px) {
    .r-btn {
        top: 16px;
        right: 35px;
    }
}

@media screen and (max-width: 800px) {
    .comments-bt {
        top: 5px;
    }
}

@media screen and (max-width: 800px) {
    #comment {
        top: 25px;
    }
}

@media screen and (max-width: 800px) {
    .reviews-list {
        top: 29px;
        right: 18px;
    }

}

@media screen and (max-width: 800px) {
    .men {
        right: 30px;
        width: 23%;
        height: 50%;
        top: 32px;
    }

}

@media screen and (max-width: 800px) {
    .reviews-author {
        top: 25px;
        text-decoration: solid;
    }

}