* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cursive;
}

.background-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/home.jpg);
  background-position: center;
}

.show__header {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.show__header .show__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25%;
  background: #4e75f6;
  border-radius: 50px;
  overflow: hidden;
}

.show__header .show__row .show__inner {
  width: 0px;
  background: white;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.show__header .show__row:nth-child(3n + 1) .show__inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.show__header .show__row:nth-child(3n + 2) .show__inner {
  -webkit-transition-delay: .10s;
          transition-delay: .10s;
}

.show__header .show__row:nth-child(3n + 3) .show__inner {
  -webkit-transition-delay: .20s;
          transition-delay: .20s;
}

.show__header:hover .show__inner {
  width: 100%;
}

#show__header {
  display: none;
  border-radius: 50px;
}

#show__header:checked + .header {
  left: 0;
  top: 0;
  opacity: 1;
}

#show__header:checked + .header .active {
  opacity: 1;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.header {
  position: fixed;
  left: 100vw;
  height: 70px;
  width: 100vw;
  background: #000;
  -webkit-transition: all .8s;
  transition: all .8s;
  left: -100vw;
  top: -30;
  opacity: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper__block {
  min-height: 100vh;
}

.wrapper__block:nth-child(even) {
  background: white;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background: #000;
  border-bottom: 2px  #000;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 10;
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
}

.navigation > ul {
  width: 600%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.navigation > ul > li {
  list-style-type: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.navigation > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: white;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes toggle {
  from {
    width: 10px;
  }
}

@keyframes toggle {
  from {
    width: 10px;
  }
}
/*# sourceMappingURL=index.css.map */