* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cursive;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-size: 16px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  color: #363636;
  position: relative;
  -webkit-text-size-adjust: none;
}

.background-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  shape-image-threshold: 0.5;
  background-size: cover;
  background-image: url(../images/newHomePage.jpeg);
  background-position: center;
}

.mouse {
  bottom: 15%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5;
  height: 32px;
  width: 22px;
  scroll-behavior: smooth;
  background-image: url(../images/mouse32.png);
  background-position: center;
  animation-name: bounceInDown;
  -webkit-animation-name: bounceInDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.mouse > a {
  margin: 0;
  position: relative;
  padding: 0;
  z-index: 5;
  height: 50px;
  width: 25px;
  float: left;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: underline;
  outline: none;
}

.show__header {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.show__header .show__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25%;
  background: #4e75f6;
  border-radius: 50px;
  overflow: hidden;
}

.show__header .show__row .show__inner {
  width: 0px;
  background: white;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.show__header .show__row:nth-child(3n + 1) .show__inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.show__header .show__row:nth-child(3n + 2) .show__inner {
  -webkit-transition-delay: .10s;
          transition-delay: .10s;
}

.show__header .show__row:nth-child(3n + 3) .show__inner {
  -webkit-transition-delay: .20s;
          transition-delay: .20s;
}

.show__header:hover .show__inner {
  width: 100%;
}

#show__header {
  display: none;
  border-radius: 50px;
}

#show__header:checked + .header {
  left: 0;
  top: 0;
  opacity: 1;
}

#show__header:checked + .header .active {
  opacity: 1;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.header {
  position: fixed;
  left: 100vw;
  height: 70px;
  width: 100vw;
  background: #000;
  -webkit-transition: all .8s;
  transition: all .8s;
  left: -100vw;
  top: -30;
  opacity: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper__block {
  min-height: 100vh;
}

p {
  color: white;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-style: normal;
  font-weight: normal;
  padding: 0 10px 12px;
  text-align: center;
}

span {
  color: #09afdf;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  color: #09afdf;
  font-size: 30px;
  padding: 0 10px 15px;
  text-align: center;
  font-family: "open_sanssemibold", Arial, Helvetica, sans-serif;
}

h3 {
  color: #060681;
  font-size: 22px;
  padding: 0 10px 15px;
  text-align: center;
  font-family: "open_sanssemibold", Arial, Helvetica, sans-serif;
}

.arrow_down {
  background-color: #fff;
  border-bottom: 7px solid #1957f3;
  position: relative;
}

.arrow_down::after {
  border: medium solid transparent;
  content: "";
  top: 100%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #1957f3 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 25px;
  margin-left: -25px;
}

.aboutME-img {
  display: block;
}

.about__img {
  width: 15%;
  height: 50%;
}

.about__img2 {
  width: 15%;
  height: 50%;
  float: right;
}

.about__img3 {
  display: block;
  width: 15%;
  height: 50%;
  left: 50%;
  margin: 0 auto;
  top: 0;
  text-align: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background: #000;
  border-bottom: 2px #000;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 10;
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
}

.navigation > ul {
  width: 600%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.navigation > ul > li {
  list-style-type: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.navigation > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: white;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.isotop {
  -webkit-transition-property: height;
  transition-property: height;
}

.isotopewrap {
  float: left;
  overflow: hidden;
  padding: 1%;
  width: 24.9%;
}

.isotopewrap .work-item {
  margin: 0;
  width: 57%;
}

.work-item {
  background: gray none repeat scroll 0 0;
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  width: 23%;
}

.work-item > a {
  display: block;
  height: 100%;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.work-item > a > img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.work-item .overlay {
  background: rgba(14, 174, 222, 0.8) center center no-repeat;
  height: 90%;
  left: 5%;
  opacity: 0;
  position: absolute;
  top: 5%;
  -webkit-transition: opacity 350ms ease 0s;
  transition: opacity 350ms ease 0s;
  width: 90%;
}

.work-item .overlay > h6 {
  bottom: 0;
  color: white;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0 10px;
  position: absolute;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.work-item .overlay .link {
  background: url(../images/link.png) top right no-repeat;
  height: 80%;
  left: 10%;
  opacity: 0;
  position: absolute;
  top: 10%;
  -webkit-transition: opacity 350ms ease 0s;
  transition: opacity 350ms ease 0s;
  width: 80%;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.footer-bottom {
  margin: 0 auto;
  padding: 0 0 450px 0;
  width: 768px;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: underline;
  outline: none;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-bottom {
    margin: 0;
    padding: 0 0 450px 0;
    width: 100%;
  }
}

@-webkit-keyframes toggle {
  from {
    width: 10px;
  }
}

@keyframes toggle {
  from {
    width: 10px;
  }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

.isotope .isotope-item {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@media screen and (max-width: 600px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .navigation > li {
    float: left;
  }
}

@media screen and (max-width: 600px) {
  .a {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */